::-webkit-scrollbar {
    width: 5px;
}

/* Estilo del thumb (la parte móvil) del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #f2842a;
    border-radius: 6px;
}

/* Estilo del thumb al pasar el mouse por encima */
::-webkit-scrollbar-thumb:hover {
    background-color: #f27837;
}

/* Estilo del track cuando el scrollbar está activo */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}