@import './css/forms.css';
@import './css/items.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-clip-text-fix {
        padding-bottom: 0.1em;
        margin-bottom: -0.05em;
        background-position: center 0.05em;
    }
}

/* Add font of assets/fonts/saiyan_sans */
@font-face {
    font-family: 'Saiyan Sans';
    src: url('./fonts/saiyan_sans/Saiyan-Sans.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url('@/assets/img/db-goku-transformations-2.webp');
    background-blend-mode: color-burn;
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover;
    background-attachment: fixed;

}